#content
  #headline.padtop
    %h1#fp_headline Reform Prop. 13 Now!
  #intro
    #fp_content.text-content
      %p
        %img{:style => 'float: right; margin-top: -55px; margin-bottom: 5px',
             :src => 'http://d3n8a8pro7vhmx.cloudfront.net/evolve/pages/1/attachments/original/1365185229/stamp.png?1365185229',
             :alt => 'Reform Prop. 13',
             :width => '300',
             :height => '300'}
      %h3
        %strong.red Corporate loopholes in Prop. 13 are hurting California.
      %p
        %span Loopholes in Prop. 13 have crippled California, decimated our education system, increased government gridlock, and created a massive handout to corporations. All this comes at the expense of students, working families, and everyday homeowners. Evolve is working to reform Proposition 13 so that commercial property pays its fair share.
      %p
        %a{:title => 'Reform Prop. 13', :href => 'reform_13', :target => '_self'} Our Plan
        |
        %a{:title => 'Get the Facts on Prop. 13', :href => 'facts_13', :target => '_self'} Prop 13 Facts
        |
        %a{:title => 'Sign the petition', :href => 'petition_13', :target => '_self'} Sign the Petition
        |
        %a{:title => 'Volunteer', :href => 'volunteer', :target => '_self'} Volunteer
        |
        %a{:title => 'In the News', :href => 'in_the_news', :target => '_self'} In the News