#footer
  .width_container
    .footer_container
      #footer_logo
        %a{:href => '/'}
          %img.padbottommore{:src => 'assets/evolve-logo2-footer.png', :width => '124'}
      #footer_text
        Evolve, A Community Organization | 2017 Mission St, 2nd Floor, San Francisco, CA 94110 | 415-800-1155
        |
        %a.hover-underline-grey{:href => 'mailto:info@evolve-ca.org', :title => 'Send us mail'}
          campaign@evolve-ca.org