#header
  .width_container
    #header_social
      %a{:href => 'http://www.facebook.com/evolve.ca', :title => 'Link to Facebook'}
        %img.social{:src => 'assets/fb-button.png', :alt => 'Like Evolve on Facebook', :width => '28px', :height => '28px'}
      %a{:href => 'http://www.twitter.com/evolve_ca', :title => 'Link to Twitter'}
        %img.social{:src => 'assets/twitter-button.png', :alt => 'Follow evolve_ca on Twitter', :width => '28px', :height => '28px'}
      %a{:href => 'https://plus.google.com/105363919375093824504', :title => 'Link to Google Plus'}
        %img.social{:src => 'assets/gplus-button.png', :alt => 'Plus 1 this', :width => '28px', :height => '28px'}
    %a{:href => '/'}
      %img#logo.padtopmore{:src => 'assets/evolve-logo2.png', :width => '247'}
    #header_tabs
      #about_tab.tab
        %a.hover-underline-white{:href => 'about_us', :title => 'About Us'} about us
      #blog_tab.tab
        %a.hover-underline-white{:href => 'blog', :title => 'Blog'} blog
      #campaign_tab.tab
        %a.hover-underline-white{:href => 'alerts', :title => 'Take Action'} take action
      #email_tab.tab
        %a#email_signup_link.hover-underline-white{:href => 'sign_up', :title => 'Email Signup'} email signup
      #donate_tab.tab
        %a#donate_link.hover-underline-white{:href => 'donate', :title => 'Donate'} donate