#header
  .width_container
    #header_social
      %a{:href => 'http://www.facebook.com/evolve.ca', :title => 'Link to Facebook'}
        = image_tag 'fb-button.png', class: 'social', alt: 'Like Evolve on Facebook', size: "28x28"
      %a{:href => 'http://www.twitter.com/evolve_ca', :title => 'Link to Twitter'}
        = image_tag 'twitter-button.png', class: 'social', alt: 'Follow evolve_ca on Twitter', size: '28x28'
      %a{:href => 'https://plus.google.com/105363919375093824504', :title => 'Link to Google Plus'}
        = image_tag 'gplus-button.png', class: 'social', alt: 'Plus 1 this', size: '28x28'
    %a{:href => '/'}
      = image_tag 'evolve-logo2.png', class: 'padtopmore', id: 'logo', width: 247
    #header_tabs
      #about_tab.tab
        %a.hover-underline-white{:href => 'about_us', :title => 'About Us'} about us
      #blog_tab.tab
        %a.hover-underline-white{:href => 'blog', :title => 'Blog'} blog
      #campaign_tab.tab
        %a.hover-underline-white{:href => 'alerts', :title => 'Take Action'} take action
      #email_tab.tab
        %a#email_signup_link.hover-underline-white{:href => 'sign_up', :title => 'Email Signup'} email signup
      #donate_tab.tab
        %a#donate_link.hover-underline-white{:href => 'donate', :title => 'Donate'} donate